body {
  background-color: beige;
  font-family: sans-serif;
  margin: 0;
}

html,
body,
#root {
 
  height: 100%;
  width: 100%;
}

h2 {
  align-content: center;
}

div {
  display:block
}

.img {
  width:auto;
  height: auto;
  max-width: 235px;
}

.wrapper {
  padding: 20px;
}

.d-flex {
  display: flex!important
}

.flex-row {
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}


.pb-4 {padding-bottom: 1.5rem;}
.p-2 {padding:0.5rem}
.p-4 {padding: 1.5rem;}

*, :after, :before {
  box-sizing: border-box;
}

#name {
  font-size: large;
  text-indent: 5px;
}

#title {
  font-size: medium;
  text-indent: 10px;
}

#comments {
  font-size: smaller;
  text-indent: 15px ;
}